/* social red */

.facebook{color:#1976d3;}
.instagram{color:#f6ff0c;}
.youtube{color:#ff0103;}

/* social red */
/**/
/**/
/**/
/**/
/* IMAGENES Y ARCHIVOS */

.icon-size{height:20px;width:20px;}
.cab-img{height:50px;width:100px;background:#000;}
.ft-size{height:150px;width:150px;border-radius:100%;}

/* IMAGENES Y ARCHIVOS */
/**/
/**/
/**/
/**/
/* COLORES Y ESTILOS DE LETRA */

.letra-negra{color:black!important;}
.letra-blanca{color:white!important;}
.fondo-negro{background-color:black!important;}
.fondo-blanco{background-color:white!important;}
.px10{font-size:10px;}
.px20{font-size:20px;}
.px30{font-size:30px;}
.px40{font-size:40px;}
.px50{font-size:50px;}
.px60{font-size:60px;}
.px70{font-size:70px;}
.px80{font-size:80px;}
.px90{font-size:90px;}
.px100{font-size:100px;}
.px200{font-size:200px;}
.px300{font-size:300px;}
.px400{font-size:400px;}
.px500{font-size:500px;}
.px600{font-size:600px;}
.px700{font-size:700px;}
.px800{font-size:800px;}
.px900{font-size:900px;}

/* COLORES Y ESTILOS DE LETRA */
/**/
/**/
/**/
/**/
/* POCISIONES */

.select-style{left:350px;}